<div class="navbar">
	<div class="container">
		<div class="nav__logo">
			<a href="#">
				<img src="../assets/toolkit/images/logo.png" />
			</a>
		</div>
		<nav class="nav">
			<ul>
				<li class="nav__item"><a class="nav__link" href="#">How it Works</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Features</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Upgrade</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
				<li class="nav__item"><a class="nav__link" href="#">Support</a></li>
				<li class="nav__btn"><button class="btn--nav" type="button">Download Now</button>
			</ul>
		</nav>
	</div>
</div>
