@media (max-width: $screen-sm-min){
	
.pushy{
		right: 0;
		position: fixed;
		width: 200px;
		height: 100%;
		top: 0;
		z-index: 9999;
		background: #333333;
		font-weight: bold;
		overflow: auto;
		-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
		display: block;
		color: #fff;
		padding: 15px 30px;
		border-bottom: 1px solid;
		border-top: 1px solid;
		text-decoration: none;
}

.pushy a:hover{
		background: #1a1a1a;
		color: #FFF;
}

/* Menu Movement */

.pushy-left{
		transform: translate3d(-200px,0,0);
}

.pushy-right{
		transform: translate3d(200px,0,0);
}

.pushy-open{
		transform: translate3d(0,0,0);
}

.container-push, .push-push{
		transform: translate3d(-200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
		transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
		display: none;
}

.pushy-active .site-overlay{
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9998;
		background-color: rgba(0,0,0,0.5);
		animation: fade 500ms;
}

@keyframes fade{
		0%   { opacity: 0; }
		100% { opacity: 1; }
}

/* Example Media Query */

	
}
